

table {
	border: 1px solid;
	background: #FFFFFF;
	width: 100%;
	border-collapse: collapse;
}

th {
	border-right: 1px solid #9265BF;
}

table tbody tr:nth-child(odd) {
	background-color: #F2EDD0;
} /* (odd) para linhas pares, (even) para linhas impares */

table tbody tr:hover {
	background-color: rgba(0, 0, 255, .2);
}

table th, 
table td {
	padding: 1rem;
	font-size: 1.6rem;
	text-align: center;
	height: 3rem;
	vertical-align: middle;
	border-bottom: 1px solid #9265BF;
}

table tr td:first-child {
	text-align: center;
	font-weight: bold;
}

table th {
	background-color: #BFB378;
	color: #FFF;
	font-weight: bold;
	font-size: 1.8rem;
	text-align: center;
}

.table-container {
	padding: 2rem 1rem;
}

.table-container h3 {
	font-size: 1.8rem;
	font-style: normal;
	margin-bottom: 1rem;
}

.table-container tfoot {
	font-weight: bold;
	background-color: #BFB493;
}
