
/* Arquivo CSS com estilos dos elementos de todas as páginas */

/* Importando CSS de Tabelas */
@import url('tabelas.css');
@import url('formulario.css');
@import url('agenda.css');

* {
	box-sizing: border-box;
}

html {
	margin: 1rem;
	padding: 0;
	font-family: serif;
	font-size: 62.5%;
}

header {
	background-color: #F8F8F8;
	border: 2px solid #6CCED9;
	text-align: center;
	font-size: 35px;
	color: black;
	
}

header div  {
	background-size: cover;
    background-position: right;
	display: flex;
	flex-direction: column-reverse;
	position: relative;
}

div img:first-child {
	position: absolute;
	left: 100%;
	margin-left: -200px;
}

header section {
	display: flex;
	align-items: center;
	justify-content: center;
}

header section h1 {
	position: absolute;
	top: 35px;
}

body {
	background: url('../imagem/pattern-background-crop.jpg');
	background-color: #F8F8F8;
}

h1 {
	font-family: 'Pattaya', sans-serif;
	font-size: 2.3rem;
}

h2 {
	font-size: 1.8rem;
	border-bottom: solid 2px #6CCED9;
}

h2, h3, th {
	font-family: 'Familjen Grotesk', sans-serif;
	margin-bottom: 1rem;
}

h4, #numero {
	font-family: 'Genos', sans-serif;
}

h4 {
	font-size: 1.3rem;
	position: absolute;
	top: 65px;
}

li, p, a, td:first-child {
	font-family: 'Andika New Basic', sans-serif;
}

a {
	color: #D9048E;
	text-decoration: none;
}
nav	{
	background-color: #F8F8F8;
	float: left;
	width: 20%;
	padding: 20px;
	border: solid 2px #A6035D;
	margin-top: 2rem;
}

nav h2 {
	font-size: 1.8rem;
}

nav ul {
	list-style-type: none;
	padding: 0;
}

nav ul li {
	font-size: 1.7rem;
	margin-bottom: .5rem;
}

article {
	background-color: #F8F8F8;
	float: left;
	width: 78.3%;
	height: 23.6rem;
	border: solid 2px #A6035D;
	margin: 2rem 0rem 0rem 2rem;
	color: black;
	text-align: center;
}

p.home {
	font-size: 1.7rem;
	margin: 1.5rem;
	text-align: justify;
	position: relative;
	top: 7rem;

}

#perfil {
	background-color: #fff;
	width: 125px;
    height: 150px;
	border: solid 2px #6CCED9;
    overflow: hidden;
	border-radius: 20%;
	padding: 0;
	margin: 3.5rem;
}

#perfil img {
	width: 125px;
}

section::after {
	content: "";
	display: table;
	clear: both;
}

footer {
	font-family: 'Genos', sans-serif;
	background-color: #030226;
	width: 100%;
	margin-top: 2rem;
	padding: 1rem 0;
	border: solid 2px #6CCED9;
	text-align: center;
	color: #fff;
}

@media (min-width: 1024px) {
	article {
		width: 78%;
	}
}
	
@media (max-width: 768px) {
	article {
		width: 77%;
		height: 210px;
	}

	#perfil {
		margin: 2rem;
		position: relative;
		top: 10px;
	}

	p.home {
		margin: 2rem;
		position: relative;
		top: 55px;
	}

	nav {
		padding: 10px;
	}

	nav h2 {
		font-size: 1.5rem;
	}

	li, a {
		font-size: 1.2rem;
	}
}

@media (max-width: 523px) {
	article {
		height: 242px;
		margin-left: 1.5rem;
	}

	p.home {
		font-size: 1.5rem;
		top: 40px;
	}

	nav#menu {
		z-index: 0;
	}
}

@media (max-width: 426px) {
	nav{
		width: 25%;
	}

	li, a {
		font-size: 1.2rem;
	}

	article {
		width: 70%;
		height: 242px;
	}

	p.home{
		font-size: 1.5rem;
		margin: .5rem;
		top: 40px;
	}

	nav#perfil {
		width: 110px;
		height: 150px;
		margin: 1rem;
		top: 30px;
	}
}

@media (max-width: 376px) {
	nav {
		width: 23%;
	}

	article {
		width: 74%;
		height: 242px;
		margin-left: 1rem;
	}

	nav#perfil {
		position: relative;
		top: 30px;
	}

	p.home {
		font-size: 1.4rem;
		top: 40px;
	}
}

@media (max-width: 320px) {
	nav {
		width: 100%;
	}

	#menu {
		z-index: 0;
		top: auto;
	}

	article {
		width: 100%;
		height: 200px;
		margin-left: 0px;
	}

	nav#perfil {
		position: relative;
		top: 20px;
	}

	p.home {
		text-align: left;
		position: relative;
		top: 50px;
	}
}
