
@font-face {
    font-family: 'air_americana';
    src: url('../assets/fonts/air_americana-webfont.woff2') format('woff2'),
         url('../assets/fonts/air_americana-webfont.woff') format('woff'),
         url('../assets/fonts/air_americana.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}