$color-primary: #195484;
$color-secondary: #f58220;
$font-color-primary: #FFF;
$font-color-secondary: #454545;
$font-default: Arial, Helvetica, sans-serif;
$font-size-default: 1.6rem;
$font-size-nav: 1.8rem;

$color-font: #33d;
$color-bg-default: #a9f;
$color-bg-boxes: #FD3;

@import 'fonts';
@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');
@import 'nav';
@import 'grid';

@viewport {
    width: device-width;
    zoom: 1;
}

* {
    box-sizing: border-box; 
    //considera o padding e border como parte do cáuculo total da largura e altura
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: $color-primary;
    font-family: $font-default;
    margin: 0;
    font-size: 1.4rem;
}

h1 {
    color: $font-color-primary;
    text-align: center;
    margin-top: 4rem;
}

article {

    h1 {
        color: $color-secondary;
        font-size: 3rem;
        text-align: left;
    }
}

h2 {
    color: $font-color-primary;
    font-family: 'air_americana', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 4rem;
    text-shadow: 1px 2px 8px white;
}

#root,
header,
section,
footer {
    display: block;
    float: left;
    width: 100%;

}

section {
    padding: 4rem 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

//SASS
.container {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    max-width: 90vw;

    @media (max-width: 768px){
        max-width: 99%;
    }

    @media (min-width: 1024){
        background-color: #33d;
    }
}

@import 'animations';
@import 'footer';
@import 'header';
@import 'produtos';
@import 'sobre';
@import 'steps';
@import 'vitrine';
@import 'responsive';